BasedOnStyle:  Google
TabWidth:        4
IndentWidth:     4
UseTab:          AlignWithSpaces 
ColumnLimit: 200

Language: Cpp

# Configure each individual brace in BraceWrapping
BreakBeforeBraces: Custom
# Control of individual brace wrapping cases
BraceWrapping: {
    AfterCaseLabel: 'true'
    AfterClass: 'true'
    AfterControlStatement: 'true'
    AfterEnum : 'true'
    AfterFunction : 'true'
    AfterNamespace : 'true'
    AfterStruct : 'true'
    AfterUnion : 'true'
    BeforeCatch : 'true'
    BeforeElse : 'true'
    BeforeLambdaBody: 'true' 
    IndentBraces : 'false'
    AfterExternBlock : 'true'
    SplitEmptyFunction : 'true'
    SplitEmptyRecord : 'true'
    SplitEmptyNamespace : 'true'
}

AllowShortFunctionsOnASingleLine: false
IndentAccessModifiers: false
AccessModifierOffset: -4

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
    SortPriority:    2
    CaseSensitive:   true
  - Regex:           '^((<|")(gtest|gmock|isl|json)/)'
    Priority:        3
  - Regex:           '<[[:alnum:].]+>'
    Priority:        4
  - Regex:           '.*'
    Priority:        1
    SortPriority:    0